.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.searchbar-field {
  width: 30vw;
  background-color: #b2a4d8;
  border-radius: 5px;
}

.suggestion-item {
  padding: 8px 16px; /* Adjust the padding as needed */
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5; /* Define the hover background color */
  }
}
